.myModel{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgb(0, 0, 0,0.4);
}
.header__modul{
    text-align: end;
}
.myModelContent{
    padding: 24px;
    background-color: #DBE2EF;
    border-radius: 16px;
    min-width: 250px;
}

.myModel.active{
    display: flex;
    justify-content: center;
    align-items: center;

}