.continerItem
{
    max-width: 1000px;   
    margin: auto;
}
.itemTodo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3F72AF;
}

.infoItem{
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    text-align: initial;
}
.headerItem{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
label.nameAdditionl {
    padding-left: 4px;
}
.name{
    color:#000000 ;
    line-height: 20px;  
    font-weight: bold;
    padding-right: 16px;    
}
.additionalInfo{
    color: #3F72AF;
    line-height: 24px;    
    display: flex;
}
.description{
    color: #808080;
    line-height: 20px;
    text-align: inherit;
    
}

.containerButton{
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
    
}

.editItem{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    margin-right: 16px ;
}
.deleteItem{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}