.fieldsetInput{
    display: flex;
    border: 2px solid #3F72AF;
    text-align: end;
    border-radius: 4px;  
    padding: 0px 8px;
  }
.myInput{
    width: 500px;   
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
    padding: 5px 0px;
}

.mySelect{
  border: none;
  outline: none;
  appearance: none;
  padding: 5px 0px;
  font-size: 20px;  
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-right: 0px;
}
select:not([multiple]){
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.25em);
  background-size: 0.85em auto;
  background-image: url('../../img/drop-down-arrow.svg');
}

.defaultValue {
  color: #000000  50%;

}
 
.legendInput{
    font-size: 18px;
    line-height: 20px;
    color: #3F72AF;    
  }
  .req{
      color:#EC1D1D ;
  }
  
.legendInput:after{
    content:"";
    width:20px;
    height:1px;
    background:#000;
    position:absolute;
    top:6px; left:-2px;
  }