.fieldsetInput{
    display: flex;
    border: 2px solid #3F72AF;
    text-align: end;
    border-radius: 4px;  
    padding: 0px 8px;
    min-width: 360px;
  
  }
.myInput{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;    
    width: 100%;
    padding: 5px 0px;
}
.legendInput{
  font-size: 18px;
  line-height: 20px;
  color: #3F72AF;    
}
.req{
    color:#EC1D1D ;
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(40deg);
  }
  100% {
    transform: scale(1) rotateZ(180deg);
  }
}

.rotate_scale_up {
	animation: rotate-scale-up 0.65s linear both;
}
.legendInput:after{
  content:"";
  width:20px;  
  background:#000;
  position:absolute;
  top:6px; left:-2px;
}

.select{
  width: 100%;
  position: relative;
}
.select__header{
  
  display: flex;
  cursor: pointer;
  justify-content: space-between;
 
}
.select__current{
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px 0;
}
.select__current_isActive{ 
  color: #000; 
}

.select__icon{
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 40px;

}
.is_active .select__body{
  display: block;
}
.select__body{
  text-align: start;
  position: absolute;
  left: -10px;
  right: 0;
  top: 100%;
  border: 2px solid #257FEA;
  border-radius: 4px;
  margin-top: 6px;
  background-color: #DBE2EF;
  max-height: 200px;
  overflow-y: scroll;
  display:  none;  
  min-width: 360px;
}
.select__item{
  line-height:46px;
  padding: 8px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}
.select__item:hover{
  background-color:  rgba(37, 127, 234, 0.3);
}
.select__item:active{
  background-color:  #3F72AF;
}
.description__textarea{
    width: 100%;
    background: none;
    border: none;
    font-size: 20px;
    color: #000000;
    line-height: 46px;
    min-width: 752px;
}
.description__textarea:focus-visible{
  outline: none;
}
.conteiner__errors{
  text-align: center;
}
.error__input{
  border-color: #EC1D1D;
}
.error__input legend{
  color: #EC1D1D;
}
.error__message{
  font-size: 14px;
    line-height: 20px;
    color: #EC1D1D;
    text-align: center;

}

